.settings-button-modal {
  --header-height: 40px;
  background-color: var(--gray-95);
  height: 90vh;
  width: 90vw;
  max-width: 600px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: var(--main-container-br);
  border: 2px solid var(--fg);

  display: grid;
  grid-template-areas: "header" "selector" "conent";
  grid-template-rows: var(--header-height) auto 1fr;
  gap: 5px;
}

.settings-button-modal-header-container {
  display: grid;
  grid-template-areas: "title exit";
  grid-template-columns: 1fr var(--header-height);
  max-height: 100%;
  align-items: center;
  gap: 5px;
}

.settings-button-modal-exit-button {
  padding: 0;
  align-self: center;
  justify-self: center;
  display: grid;
  height: 80%;
  width:  80%;
  align-items: center;
  justify-items: center;
  border-radius: 50%;
}

.settings-button-modal-title {
  margin: 0;
  font-size: 25px;
  grid-template-columns: 1fr, var(--header-height);
}

.settings-button-modal-select {
  height: auto;
  font-size: 15px;
  border-radius: var(--br-med);
  border: 2px solid var(--gray-70);
  background-color: var(--bg);
}
.settings-button-modal-select::picker(select) {
  background-color: var(--bg);
  border-radius: var(--br-med);
}
.settings-button-modal-select *::checkmark {
  display: none;
}

.settings-button-modal-content {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.settings-button-modal-controls {
  display: grid;
  padding: 10px;
}

.config-heading {
  margin: 0;
  padding: 0;
}
.config-input {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  align-items: center;
}
.config-input-reset-button {
  background-color: transparent;
}
.config-input-reset-button:hover {
  background-color: transparent;
  color: color-mix(in srgb, var(--fg), var(--background) 50%);
}
.config-input-reset-button:active {
  background-color: transparent;
  color: var(--hi-1);
}
.config-input-content {
  /* outline: 1px solid red; */
  width: 100%;
}
.config-input-title {
  padding: 0;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  /* outline: 1px solid blue; */
}
.config-input-boolean-button  {
  width: 100%;
  font-weight: normal;
}
.config-input-hexcolor-input {
  width: 100%;
}
.config-input-nnumber-input {
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
