.config-input {
  background-color: lightgreen;
}
.config-input-content {
  outline: 1px solid red;
}
.config-input-title {
  padding: 0;
  margin: 0;
  outline: 1px solid blue;
}
.config-input-boolean-button  {
  width: 100%
}
