.header {
  display: grid;
  grid-template-areas: "logo buttons";
  max-height: 100px;
  grid-template-rows: 60px;
  grid-template-columns: fit-content(100px) 1fr;
  gap: 0 20px;
  width: 100%;
  @media screen and (min-width: 700px) {
    width: 700px;
  }
}

.header > .logo {
  grid-area: "logo";
}

.header > .header-buttons-container {
  grid-area: "buttons";
}

.header-buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100%;
  gap: 5px 5px;
}

.header-button {
  /* background-color: var(--gray-95); */
  background-color: var(--gray-90);
  /* border: 2px solid var(--gray-40); */
  border: none;
  border-radius: 7px;
  font-size: 12pt;
  font-weight: bold;
  height: 100%;
  width: 100%;
}

.header-button:hover {
  /* border-color: var(--hi-1); */
}

.header-button:active {
  /* background-color: var(--hi-1) */
}
