.setlist-item-move-item-modal-container {
  background-color: var(--gray-90);
  border-radius: var(--main-container-br);
  border: 2px solid var(--fg);
  /* width: 80%; */
  max-height: 80%;
  max-width: 80%;
  padding: 10px;
  overflow-y: clip;

  display: flex;
  flex-direction: column;
  gap: 10px;
}
.setlist-item-move-item-modal-title-id {
  font-weight: normal;
  color: var(--gray-50);
}
.setlist-item-move-item-modal-x-button {
  background-color: var(--hi-1);
  color: white;
  font-size: 10pt;
  border-radius: 100%;
  height: 23px;
  width: 23px;
}
.setlist-item-move-item-modal-x-button {
}
.setlist-item-move-item-modal-list-container {
  overflow-y: scroll;
  flex-grow: 1;

  border-top: 2px solid var(--gray-60);
  border-bottom: 2px solid var(--gray-60);
}
.setlist-item-move-item-modal-list-item-container {
  display: flex;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
  user-select: none;
}

.setlist-item-move-item-modal-move-button {
  display: flex;
  align-items: center;
  gap: 7px;
  width: 100%;
  background-color: transparent;
  color: var(--hi-2);
}
.setlist-item-move-item-modal-move-button:hover {
  background-color: transparent;
  color: color-mix(in oklch, var(--hi-2), white 40%);
}
.setlist-item-move-item-modal-move-button:active {
  background-color: transparent;
  color: color-mix(in oklch, var(--hi-2), black 40%);
}
.setlist-item-move-item-modal-move-button-hr {
  height: 0;
  flex-grow: 1;
  border: none;
  border-top: 2px solid var(--hi-2)
}
.setlist-item-move-item-modal-move-button-text {
  font-weight: bold;
  color: inherit;
}

.setlist-item-move-item-modal-header-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}
/* .setlist-item-move-item-modal-x-button { */
/*   flex-grow: 1; */
/*   display: grid; */
/*   justify-content: right; */
/* } */

.setlist-item-menu-container {
  width: 200px;
  display: flex;
  flex-direction: column;
  font-size: 11pt;
}

.setlist-item-menu-button {
  all: unset;
}
.setlist-item-menu-button:hover {
  background: transparent;
  color: color-mix(in srgb, var(--gray-30), var(--hi-1));
}
.setlist-item-menu-button:active {
  background: transparent;
  color: var(--hi-1);
}

.setlist-item {
  all: unset;
  display: flex;
  gap: 10px;
  width: 100%;
  min-width: 0;
  /* box-sizing: border-box; */
}
.setlist-item:hover {
  background-color: transparent;
  color: color-mix(in srgb, var(--gray-70), var(--hi-1));

}
.setlist-item:active {
  /* background-color: transparent; */
  color: var(--hi-1);
}
/* .setlist-item:hover>.setlist-item-id-container, */
.setlist-item:hover>.setlist-item-name-container,
/* .setlist-item:active>.setlist-item-id-container, */
.setlist-item:active>.setlist-item-name-container
{
  color: inherit;
}
.setlist-item:hover>.setlist-item-name-container,
.setlist-item:active>.setlist-item-name-container{
  font-weight: bold;
}

.setlist-item-id-container {
  text-align: right;
  color: var(--gray-50);
}
.setlist-item-name-container {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
  min-width: 0;
}
