.setlist-item {
  all: unset;
  display: flex;
  gap: 10px;
  width: 100%;
}
.setlist-item:hover {
  /* background-color: transparent; */
  color: color-mix(in srgb, var(--gray-40), var(--hi-1));

}
.setlist-item:active {
  /* background-color: transparent; */
  color: var(--hi-1);
}
.setlist-item:active>.setlist-item-id-container,
.setlist-item:active>.setlist-item-name-container
{
  color: inherit;
}

.setlist-item-id-container {
  text-align: right;
  color: var(--gray-50);
}
.setlist-item-name-container {
}
