@font-face {
  font-family: "atk";
  src: url("./assets/AtkinsonHyperlegibleNext-VariableFont_wght.ttf");
  font-style: normal;
}
* {
  font-family: "atk", Arial;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  background: black;
  color: white;
}
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.body {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.display-text {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.display-text .text-line {
  padding: 0.2em 0;
}
.text-line {
  font-family: inherit;
}

.display-image {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  object-fit: contain;
}
