@font-face {
  font-family: "atk";
  src: url("./assets/AtkinsonHyperlegibleNext-VariableFont_wght.ttf");
  font-style: normal;
}
* {
  font-family: "atk", Arial;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  background: black;
  color: white;
  overflow: hidden
}
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.body {
  height: 100%;
  width: 100%;
  /* display: grid; */
  /* place-items: center; */
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
.display-element-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;

  animation-duration: inherit;
  animation-fill-mode: forwards;
}
.display-logo{
}
.logo-img {
  height: 100vh;
  width: 100vw;
  object-fit: contain;
}
.display-text {
}
.display-text .text-line {
  padding: 0.2em 0;
}
.text-line {
  font-family: inherit;
}

.display-image {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  object-fit: contain;
}

@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 100%;}
  /* 0% {top: -110vh} */
  /* 100% {top: 0} */
}

@keyframes fade-out {
  0% {opacity: 100%;}
  100% {opacity: 0;}
  /* 0% {top: 0} */
  /* 100% {top: 110vh} */
}

.animation-in {
  animation-duration: var(--transition-duration);
}
.animation-out {
  animation-duration: var(--transition-duration);
}

.logo-animation-in {
  animation-name: fade-in;
  animation-duration: var(--transition-duration);
}
.logo-animation-out {
  animation-name: fade-out;
  animation-duration: var(--transition-duration);
}
