.app-container {
  display: grid;
  grid-template-areas: 
    "header header"
    "setlist controls";
  grid-template-rows: fit-content(200px) 1fr;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  height: 100%;
}
.app-container .header {
  grid-area: header;
}
.app-container .setlist {
  grid-area: setlist;
}

.main-container {
  width: 100%; height: 100%;
  max-height: 100%;
  border-radius: var(--main-container-br);
  border: 2px solid var(--fg);
  background-color: var(--gray-95);
  padding: 10px;
  box-sizing: border-box;
  
  display: flex;
  flex-direction: column;
  gap: 10px;

  overflow: clip;
  min-height: 0;
  min-width: 0;
}

.main-container-header {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  width: 100%;
}

.main-container-button {
  background-color: var(--gray-85);
}

.main-container-header-buttons-container {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  height: 100%;
  min-width: 0;
  gap: 7px;
}

.main-container-title {
  all: unset;
  font-size: 15pt;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  min-width: 0;
  padding-right: 10px;
}
