.image-controls {
  height: 100%;
  width: 100%;
  min-height: 0;
  min-width: 0;
  display: grid;
  grid-template-areas: "header" "button";
  grid-template-rows: fit-content(100px) 100px;
}
.image-controls-project-button-inner {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas: "left preview";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
  place-items: center;
  padding: 5px;
  padding-left: 10px;
  box-sizing: border-box;
}
.image-controls-project-button-left {
  grid-area: left;
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-areas: "top" "bottom";
  grid-template-rows: auto 1fr;
}
.image-contols-project-button-text {
  color: inherit;
  min-width: 0;
  width: 100%;
  min-height: 0;
  max-height: 100%;
  word-wrap: break-word;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: clip;
  text-align: left;
  grid-area: bottom;
}
.image-controls-image {
  grid-area: preview;
  max-width: 100%;
  max-height: 100%;
  border-radius: 6px ;
  overflow: clip;
  justify-self: right;
}
