.image-controls {
  height: 100%;
  width: 100%;
  min-height: 0;
  min-width: 0;
}

.image-controls-project-button {
  display: grid;
  grid-template-areas: "buttons preview";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
  place-items: center;

  height: 100px;
  width: 100%;

  padding: 5px;

  background-color: var(--hi-1);
  color: white;

  border-radius: 10px;
}
.image-controls-project-button:active {
  filter: brightness(80%);
}
.image-contols-project-button-text {
  color: inherit;
}
.image-controls-image {
  grid-area: preview;
  max-width: 100%;
  max-height: 100%;
  border-radius: 6px ;
  overflow: clip;
  justify-self: right;
}
