.project-element-button {
  /* max-height: 100%; */
  box-sizing: border-box;
  width: 100%;

  background-color: var(--gray-90);
  font-weight: normal;

  border-radius: 3px;
  border: 3px solid var(--gray-40);
  padding: 0;

  overflow: clip;
}
.project-element-button:hover {
  background-color: color-mix(in oklch, var(--hi-2), var(--bg))
}
.project-element-button:active {
  background-color: var(--hi-2);
}
.project-element-button-full-active {
  border-color: var(--hi-2);
}
.project-element-button-full-active 
.project-element-button-inner {
  border-left-color: var(--hi-2);
}
.project-element-button-partly-active {
  border-color: var(--hi-1);
}
.project-element-button-partly-active 
.project-element-button-inner {
  border-left-color: color-mix(in oklch, var(--hi-1), transparent var(--blink-transparent-blend));
}
.project-element-button-inner {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: clip;
  border-left: 14px solid var(--gray-40);
  padding: 0;
}

.project-element-button-context-menu {
  display: flex;
  flex-direction: column;
  align-items: start;
}


.live-display-index-array {
  display: flex;
  gap: 7px;
}
